body {
    background-image: url("../images/AmI80sYet.png");
    
}
.panel-body {
    padding:0 0 0 0;

    border: 15px black solid;
}
#HangMan {
    width: 200px;
}
.panel-default {
    background: black;
    color: #00bcd4;
}